@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,900|Lato:300,400,700&display=swap');
:root {
    --primaryViolet: rgb(94, 66, 166);
    --navColor: #312450;
    --firstBg: rgb(80, 82, 181);
    --secondBg: #4c4eac;
    --thirdBg: #484aa3;
    --fourthBg: #b74e91;
    --fifthBg: #5e42a6;
    --footerBg: #493382;
    --white: #fff;
    --border: #765eb3;
    --lightGray: rgba(211, 211, 211,.7);
    --borderLightGray: rgba(211, 211, 211,.3);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
h1,h2,h3, h4 {
    font-family: 'Barlow', sans-serif;
}
ul {
    list-style-type: none;
}

/****** AsideNav ******/
aside {
    flex: 0 0 30%;
    background: var(--navColor);
    height: 100vh;
}
aside article {
    padding: 100px 10px;
}
aside img {
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
}
aside article ul {
    width: 70%;
    margin: auto;
}
aside article ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 30px;
    border-bottom: 1px solid var(--borderLightGray);
    display: block;
    text-align: right;
}
.icons {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    text-align: right;
}
.icons a {
    color: white;
    font-size: 2rem;
    margin-left: 20px;
}


/****** Welcome ******/
main {
    flex: 0 0 70%;
    overflow: scroll;
}
.welcome {
    background: linear-gradient(rgb(94, 66, 166, .9), rgb(94, 66, 166, .9)), url(img/circle.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-left: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.welcome h1 {
    color: white;
    font-size: 5rem;
    padding-bottom: 40px;
}
.welcome p {
    color: var(--lightGray);
    font-size: 1.4rem;
    padding-bottom: 40px;
}
.welcome button {
    color: white;
    background: transparent;
    border: .5px solid var(--borderLightGray);
    border-radius: 30px;
    padding: 20px 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
