@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,900|Lato:300,400,700&display=swap');
:root {
    --primaryViolet: rgb(94, 66, 166);
    --navColor: #312450;
    --firstBg: rgb(80, 82, 181);
    --secondBg: #4c4eac;
    --thirdBg: #484aa3;
    --fourthBg: rgb(183, 78, 145);
    --fifthBg: #5e42a6;
    --footerBg: #493382;
    --white: #fff;
    --border: #765eb3;
    --lightGray: rgba(211, 211, 211,.7);
    --borderLightGray: rgba(211, 211, 211,.3);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
h1,h2,h3, h4 {
    font-family: 'Barlow', sans-serif;
}
ul {
    list-style-type: none;
}
button {
    color: white;
    background: transparent;
    border: .5px solid var(--borderLightGray);
    border-radius: 30px;
    padding: 20px 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
p {
    color: var(--lightGray);
    font-size: 1.4rem;
    padding-bottom: 40px;
}
h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/****** AsideNav ******/
aside {
    flex: 0 0 30%;
    background: var(--navColor);
    height: 100vh;
}
aside article {
    padding: 100px 10px;
}
aside img {
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
}
aside article ul {
    width: 70%;
    margin: auto;
}
aside article ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 30px;
    border-bottom: 1px solid var(--borderLightGray);
    display: block;
    text-align: right;
}
.icons {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    text-align: right;
}
.icons a {
    color: white;
    font-size: 2rem;
    margin-left: 20px;
}


/****** Welcome ******/
.main {
    flex: 0 0 70%;
    overflow: scroll;
    height: 100vh; /*ovde pazi da ne zaboravis sledeci put*/
}
.welcome {
    background: linear-gradient(rgb(94, 66, 166, .9), rgb(94, 66, 166, .9)), url(img/circle.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-left: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.welcome h1 {
    color: white;
    font-size: 5rem;
    padding-bottom: 40px;
}

/****** WhoWeAre ******/
.whoWeAre article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.whoWeAre article div:first-child {
    flex: 0 0 30%;
}
.whoWeAre article div:last-child {
    flex: 0 0 70%;
    color: white;
    margin: auto;
    padding-left: 75px;
}
.whoWeAre article div img {
    width: 100%;
    display: block;
}
.whoWeAre article:first-child {
    background: var(--firstBg);
}
.whoWeAre article:nth-child(2) {
    background: var(--secondBg);
}
.whoWeAre article:last-child {
    background: var(--thirdBg);
}
.whoWeAre article div:last-child p{
   font-size: 1rem;
   padding-bottom: 20px;
}

/****** WhatWeDo ******/
.whatWeDo {
    background: var(--fourthBg);
    padding: 60px 7.5%;
    color: white;
}
.whatWeDo h2 {
    font-size: 2.5rem;
}
.whatWeDo p {
    font-size: 1rem;
}
.whatWeDo article {
    display: flex;
    flex-wrap: wrap;
    background: rgb(180, 120, 158);
}
.whatWeDo article .col {
    flex: 0 0 50%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    padding-top: 100px;
    border: 2px solid var(--borderLightGray);
    /* background: rgba(183, 78, 145, .7); */
}
.whatWeDo article .col:first-child {
    border-bottom: 1px solid var(--borderLightGray);
    border-right: 1px solid var(--borderLightGray);
}
.whatWeDo article .col:nth-child(2) {
    border-left: 1px solid var(--borderLightGray);
    border-bottom: 1px solid var(--borderLightGray);
}
.whatWeDo article .col:nth-child(3) {
    border-right: 1px solid var(--borderLightGray);
    border-top: 1px solid var(--borderLightGray);
}
.whatWeDo article .col:last-child {
    border-top: 1px solid var(--borderLightGray);
    border-left: 1px solid var(--borderLightGray);
}
.whatWeDo article .col div:first-child {
    flex: 0 0 18%;
    background: white;
    height: 65px;
    width: 30px;
    color: var(--fourthBg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.whatWeDo article .col div:last-child {
    flex: 0 0 70%;
}
.whatWeDo article .col div:last-child h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.whatWeDo article .col div:last-child p {
    font-size: 1.2rem;
}
.whatWeDo button {
    margin-top: 30px;
}
/****** Pitanje 1. Zasto nisam mogla u .col background: rgba? ******/
/****** Pitanje 2. Zasto nisam mogla objedinjeno pravilo bordera za svako dete .col ******/

/****** Contact ******/
.contact {
    background: var(--fifthBg);
    color: white;
    padding: 60px 7.5%;
}
.contact h2 {
    font-size: 2.5rem;
}
.contact p {
    font-size: 1rem;
}
.contact article {
    display: flex;
}
.contact article div:first-child {
    flex: 0 0 68%;
}
.contact article div:first-child form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 20px;
}
.contact article div:first-child form input {
    flex: 0 0 48%;
    background: var(--navColor);
    padding: 20px;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
}
.contact article div:first-child form textarea {
    flex: 0 0 100%;
    background: var(--navColor);
    padding: 20px;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
}
.contact article div:last-child {
    flex: 0 0 28%;
    border-left: 1px solid var(--borderLightGray);
    padding-left: 25px;
}
.contact article div:last-child h5 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.contact article div:last-child p {
    font-size: 1.2rem;
    padding-bottom: 20px;
}

/****** Footer ******/
footer {
    height: 20vh;
    background: var(--navColor);
    text-align: center;
}
footer p {
    font-size: 1.2rem;
    padding-top: 60px;
}